*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgc1: #d63900;
    --bgc1b: #a0330bd4;

    --bgc2: #f06838;
    --bgc3: #ff58a9;
    --bgc4: #ff7fa3;
    --bgc4b: #ed3d6f;

    --bgc5: #ffdde7;
    --border1: 5px solid var(--bgc3);
    --br1: 10px;
}

.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--bgc3);
    padding-right: 45px;
    padding-left: 45px;

    font-family: "Twinkle Star", cursive;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    width: fit-content;
    margin: 0 auto;
    border-right: 45px double var(--bgc5);
    border-left: 45px double var(--bgc5);

}

header, main, footer{
    background-color: var(--bgc5);
    min-height: 75px;
    width: 80vw;
}


header, footer{
    padding: 10px;
    height: fit-content;
    margin: 0 auto;
    align-content: center;
}

header{
    border-bottom-left-radius: var(--br1);
    border-bottom-right-radius: var(--br1);

}

footer{
    border-top-right-radius: var(--br1);
    border-top-left-radius: var(--br1);
}

h1{
    font-size: 2em;
}

p{
    font-size: 1.25em;
}

header h1, footer p{
    color: var(--bgc1b);
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
}

/*gameboard*/
main{
    background-color: #fff;
    padding: 20px 35px;
    flex: 1 0 auto;
    border-radius: var(--br1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*body & item main divs */
.characterDisplay{
    background-color: var(--bgc5);
    height: 90%;
    width: 32.5%;
    border: var(--border1);
    border-radius: var(--br1);
    /*body setup*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px black;

}

.items{
    background-color: var(--bgc5);
    height: 90%;
    width: 62.5%;
    border: var(--border1);
    border-radius: var(--br1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1px 4px black;

}

/*character itself*/
.slot{
    background-color: #fff;
    box-shadow:3px 3px 5px var(--bgc4);
}

.headSlot{
    --hair-color: #fff;
    --skin-tone: #fff;
}

.hidden{
    opacity: 0;
}


/*hairStyles*/
/*a*/
.a{
    border: 1px solid var(--skin-tone);
    border-top: 8px dotted var(--hair-color);
    
}

/*b*/
.b{
    border: 1px solid var(--skin-tone);
    border-top: 8px solid var(--hair-color);
}

/*c*/
.c{
    border: 1px solid var(--skin-tone);
    border-top: 8px solid var(--hair-color);
    border-right:3px solid var(--hair-color);
    border-left:3px solid var(--hair-color);
}

.headSlot{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/*b1*/
.bodyA{
    width: 50px; 
    height: 75px; 
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.bodyB{
    width: 50px;
    height: 75px;
    margin-top: -2px;
}


/*b2
.bodyA{
    width: 50px; 
    height: 50px; 
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.bodyB{
    margin-top: -4px;
    width: 50px; 
    height: 75px; 
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
*/

/*item categories*/
.little{
    background-color: var(--bgc4b);
    min-height: 40px;
    min-width: 100px;
    margin: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 1px 4px black;
}

.little:hover{
}

.little p{
    color: #fff;

    margin: auto 10px;
    font-style: italic;
    font-weight: bolder;
}

/*buttons*/
.selectorBtn{
    background-color: var(--bgc4);
    border-left: 2px solid var(--bgc4b);
    border-bottom: 4px solid var(--bgc4b);
    border-top: var(--bgc4b);
    border-right: var(--bgc4b);
    width: 25px;
    color: #fff;
}

.backBtn{
    border-right: 2px solid var(--bgc4b);
    border-bottom: 4px solid var(--bgc4b);
    border-top: var(--bgc4b);
    border-left: var(--bgc4b); 
}

.selectorBtn:hover{
    border-bottom: 2px solid var(--bgc4b);
    border-left: 1px solid var(--bgc4b);
    border-right: 1px solid var(--bgc4b);
}




